<!DOCTYPE html>
<html>
<head>
  <title>FileUploader</title>
  <%= stylesheet_link_tag    "file_uploader/application", media: "all" %>
  <%= javascript_include_tag "file_uploader/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
